@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* 
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;

    #24bff2 button membership
    #f5fbfe Border Color
    #202020 Text
    #fff    Background
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #202020;
}

.pageSize{
    height: 90vh;
    margin-bottom: 150px;
}
.pageExamples{
    height: 180vh;
}
/*---------------------------HEADER--------------------------------------------*/
header{
/*     display: flex;
    flex-direction: column; */
    background-color: #fff;
}

.navBar{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black; /* weg machen !!! */
    line-height: 50px;
}

.navElement{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 18px;
}

/*---------------------------MAIN----------------------------------------------*/
.headingPic{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.turnedElements{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.textContainer{
    width: 500px;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 50px;
    margin: 20px 0;
}

.multipleHeading{
    width: 500px;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    margin: 20px 0;
}

p{
    font-size: 23px;
    line-height: 30px;
    padding-bottom: 20px;
}

.Multipletext{
    width: 490px;
}

a{
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.blackbtn{
    background-color: #202020;
    color: #fbf5fe;
}
.whitebtn{
    border: 1px solid rgba(235,235,235);
    background-color:#fff;
    color: #202020;
    border: 1px solid #fbf5fe;
    box-shadow: 2px 2px rgba(235,235,235);
}

.image{
    width: 35vw;
}

.lastPages{
    text-align: center;
    width: 800px;
    margin: 100px auto;
}

.illupics{
    justify-content: space-around;
    width: 400px;
}

.illusAndGallery{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    justify-content: space-around;
}

.gallerypics
{
    padding-bottom: 100px;
    width: 550px;
}

/*---------------------------FOOTER--------------------------------------------*/